body {
    background-color: red;
    animation-name: animationRadiant;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
}
@keyframes animationRadiant {
    from {background-color: red}
    to {background-color: green}
    from {background-color: green}
    to {background-color: blue}
    from {background-color: blue}
    to {background-color: red}
}




main {
    margin: 0.3rem -0.3rem 3rem -0.3rem;
    background: rgb(60, 60, 60);
}

.nav-bar-header {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    overflow: visible;
    z-index: 1000; /*Puts header above all other elements*/
    width: 100%;
    height: 50px;
    background-color: rgba(83, 84, 85, 1);
    border: 4px solid black;
    white-space: nowrap; /*Prevents long name wonkyness*/

}
.nav-bar-ul {
    width: 100%;
    list-style: none; /*Removes the dot list*/
    margin: 0;
    padding: 0;
    border-radius: 1rem;
    /*These are needed so the nav items are aligned with the top left borders*/
}
.nav-bar-item {
    float: left;
}
.nav-bar-item-right {
    float: right;
    overflow: hidden;
    box-sizing: border-box;
}
.nav-item {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 12px 16px;
    background-color: rgba(83, 84, 85, 0.80);
}

.nav-item:hover {
    background-color: rgba(70, 70, 70, 0.9);
}