
.divsContainer {
    display: flex;
    flex-direction: column;
}

#WelcomeBox {
    margin: auto;
    border-style: solid;
    border-width: medium;
    border-color: rgb(0, 0, 0);
    background-color: rgba(58,58,58,0.8);
    text-align: center;
}

#menuDiv {
    position: absolute;
    margin: auto;
    width: 400px;
    height: 35%;
    align-self: center;
    border-style: solid;
    border-width: medium;
    border-color: rgb(255, 0, 0);
    background-color: rgba(68, 56, 56, 0.8);
    text-align: center;
    overflow: auto;
}

#SnakeGameButton {
    position:absolute; 
    bottom: 250px; 
    right: 33.5%; 
    padding:10px 20px; 
    font-size:16px;
}
