<!--This page contains the front end for the conversations page-->
{% extends "base_template.html" %}

{% block title %}Admin Panel{% endblock %}

{% block stylesheets %}

	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/apanel.css') }}">

{% endblock %}

{% block content %}
    <div id="log-outer-wrapper">
        Place holder for text
        <button>Placeholder</button>
        <div id="log-inner-wrapper">    
            <div id="log-text">
                {% for string in line %}
                    {{ string }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}