<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{block title} title {% endblock %</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/landing_page.css') }}">
</head>
<body>
    <!--This very big block will come in handy one day. (Hint: navigation)-->
	<header class="nav-bar-header" id="nav-header-id"> 
		<nav class="nav-bar">
			<ul class="nav-bar-ul">
				<li class="nav-bar-item">
					<a class="nav-item" href="/">Home</a>
				</li>
				<li class="nav-bar-item">
					<a class="nav-item" href="#">About</a>
				</li>
				<li class="nav-bar-item">
					<a class="nav-item" href="#">Account</a>
				</li>
			</ul>
		</nav>
	</header>

    <main>
        {%block content%}

        {% endblock %}

    </main>

</body>
</html>