<!DOCTYPE html>
<html>
	<head>
		<!--url_for function tells Flask to look for the landing page using the path given-->>
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/landing_page.css') }}">
	</head>

	<body>
		<div class="menuContainer">
			<div id="WelcomeBox">
				<h1 id="WelcomeHeader">If you see this, it means that HTML is working properly. Cheers!</h1>
				<p1 id="WelcomeParagraph">I can sense this is the beginning of something else</p1>
				<hr>
			</div>
			<hr>
			<div id="menuDiv">
				<h1 id="menuPrompt">Selection Menu</h1>
				<p2 id="menuParagraph2">Select something</p2>

				<button id="SnakeGameButton">Snake Game</button>

				<p4 id="ComingSoon">Work in progress</p4>
				<input id="user_Name" type="text">
				<input id="user_Pass" type="password">
			
			</div>
		</div>



		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.min.js"></Script>
		<script>
			const socket = io();
			document.getElementById("SnakeGameButton").addEventListener('click', function() {
				socket.emit('move_to_snake');
			});
			
			socket.on('snakeGame_redirect', function() {
				window.location.href = "/snake_game_page.html"
			});
		</script>
	</body>
</html>
