{% extends "base_template.html" %}

{% block title %}Snake Game {% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/snake_game.css') }}">
{% endblock %}

{% block content %}
	<!--This form will return the user back to the index file (landing page)
	<form action="/snake_game_redirect" class="return-home-forms" id="home-form" method="POST">
		<input class="return-home-forms" type="submit" id="snake-home-btn" value="Home">
	</form>
	This has been replaced by the nav bar-->

	<button id="restartButton" style="position:absolute; top:100px; right:313px; padding:10px 20px; font-size:16px;">Restart</button>	
	<div class="game-div" id="game-div-id">
    	<canvas id="gameCanvas" width="625" height="625"></canvas>
	</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    
	<script src="{{ url_for('static', filename='JS/snake_game.js') }}"></script>
	

{% endblock %}